@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lobster|Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
.my-nav{
	background-color: #083c77;
}
.my-hover:hover{
   border-bottom: 3px solid #29acc0;
}

.my-arrow{
	font-size: 14px;
}

.my-cover-text{
	text-shadow: 2px 2px 8px blue;
}
.my-justify{
	text-align: justify;
}


.my-call-to-action{
	height: 800px;
}

.my-row{
	background-color: green;
}

.my-navbar-light li a{
	color: #0071b3;
}
.nav-link{
	margin-right: 8px;
	margin-left: 8px;
}

.nav-link .fab{
	font-size: 18px;
}



/* .my-arrow ul li.active a{
	background-color: #4caf50;

	color: white;

	transform: skew(-20deg);
}*/

/*.nav-item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: #e9f6fd;
    pointer-events: none;
    -webkit-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
    transition: 200ms ease-out;
}*/
:root{
	--main-color: linear-gradient(90deg, #6e40aa, #6154c8, #4c6edb, #368ce1, #24aad8, #1ac7c2);
}
.my-top-navbar > .active{
			background-color: #e6f6fc;
			position: relative;
			transform: skew(-20deg);
		}
.my-primary{
    background-image: var(--main-color);
}
nav.navbar .my-top-navbar li.nav-item.active a.nav-link{
	color: #0071b3;
	transition: all 0.75s;
	transform: skew(20deg);
	
	}

	.my-navbar-brand {
		line-height: 1px;
		margin-right: 60px;
		
	}
	.my-navbar-brand h3{
		font-family: 'Lobster', cursive;
		color: #29acc0;
	}

	.my-navbar-brand p{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #29acc0;
		
	}

.my-mid-navbar ul{
	color: #29acc0;
     line-height: 1px;
     font-size: 14px;
}
.my-mid-navbar ul li{
	margin-right: 20px;
}
.my-mid-navbar ul li button{
	border-radius: 0 !important;
}
hr.hr-class{

	background-color: #fff;
	border-top: 2px solid #dcdcdc;

}


.mega-row {
  width: 60rem;

}

.mega-col-wrapper {
  padding: 10px;
}

ul.mega-submenu {
  line-height: 45px;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul.mega-submenu li a{
	text-decoration: none;
}
.my-main-navbar{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1rem;

}
/* end Navbar*/

/* Sectiongiin heseg */

.section-2 .card{
	border: none !important;
	border-radius: 0 !important;


	
}
/*.section-2 .card button{
	display: none;

	
}*/
/*.section-2 .card:hover button{
	display: block;
	opacity: 1 !important;
	border-radius: 0 !important;
	
}*/
.section-2 .card:hover{
	opacity: 0.8;
	transition: 0.5s ease;
	
}

.section-2 .card img{
	
	border-radius: 0 !important;
	
}

.section-2 .card-title{
	
	color: #0071b3;
}

.display-4{
	color: #0071b3;
}
.section-2 .text-left .row{
    height:500px;
}

.section-3 h6, .section-4 h6{
	font-size: 34px;
	background: var(--main-color);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.section-4 h5{
	background: var(--main-color);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.section-5{
	background: var(--main-color);
	height: 100%;
}

.section-5 .icon-title{
     color: #0074b8;
    
     
}

.section-5 .icon-title > svg{
	
	padding-right: 15px;
	padding-bottom: 0;
	float: left;
	width: 50px;
	height: 52px;
	fill: white;
}

.section-5 .icon-title > span{
	color: white;
	font-size: 26px;
}
.section-5 hr{
	background-color: white;
}

.section-5 p{
	color: white;
	
}



/* Footer heseg */

#footer{
	background: #00428a;
	padding: 0 0 30px 0;
	color: #eee;
	font-size: 14px;
}

#footer .footer-top{
	background: #004a99;
	padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info{
	margin-bottom: 30px;
}

#footer .footer-top .footer-info h3{
   font-size: 34px;
   margin: 0 0 20px 0;
   padding: 2px 0 2px 0;
   line-height: 1;
   font-family: "Montserrat", sans-serif;
   color: #fff;
   font-weight: 400;
   letter-spacing: 3px;
   text-transform: uppercase;
}

#footer .footer-top .footer-info p{
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Montserrat", sans-serif;
	color: #ecf5ff; 
}

#footer .footer-top .social-links a{
	font-size: 18px;
	display: inline-block;
	background: #007bff;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover{
	background: #0067d5;
	color: #fff;
}

#footer .footer-top h4{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}
#footer .footer-top .footer-links h4{
	letter-spacing: 2px;
   font-family: 'EB Garamond', serif;
	
}
#footer .footer-top .footer-links{
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul li{
	padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child{
	padding-top: 0;
}

#footer .footer-top .footer-links ul a{
	color: #ecf5ff;
}
#footer .footer-top .footer-links ul a:hover{
	color: #74b5fc;
}

#footer .footer-top .footer-contact h4{
	letter-spacing: 2px;
   font-family: 'EB Garamond', serif;
	
}

#footer .footer-top .footer-contact{
	margin-bottom: 30px;
}
#footer .footer-top .footer-contact p{
	line-height: 26px;
}

#footer .footer-top .footer-newsletter{
	margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"]{
	border: 0;
	padding: 6px 8px;
	width: 65%;

}

#footer .footer-top .footer-newsletter h4{
	letter-spacing: 2px;
   font-family: 'EB Garamond', serif;
	
}


#footer .footer-top .footer-newsletter input[type="submit"]{
	background: #007bff;
	border: 0;
	width: 30%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover{
	background: #0062cc;
}

#footer .copyright{
	text-align: center;
	padding-top: 30px;
}

#footer .credits{
	text-align: center;
	font-size: 13px;
	color: #f1f7ff;
}
#footer .credits a{
	color: #bfddfe;
}

#footer .credits a:hover{
	color: #f1f7ff;
}
	


